/*
Theme Name: AWE Door
Theme URI: 
Description: Designed with an emphasis on readability, comprehensiveness, and extensibility. Customize it with a header graphic or avatar, a background image, widgets and custom menus. Additional features can be easily added; such as a video channel by installing with the AWE Video plugin. Pagination is done to be non-interuptive to the visitors train of thought for deep searching through archives by using an infinite scroll. The footer is dedicated for widgets and can support and upwards of over twelve. The layout uses a twelve column grid for a very flexible and highly divisible architecture.  There are action hooks for extending the theme from a plugin or child theme, such as; additional menu items <code>awe_door_menu</code>, post display <code>awe_door_post</code>, image sizes <code>awe_door_image_sizes</code> and scripts <code>awe_door_scripts</code>.
Author: Braydon Fuller
Author URI: http://braydon.com/
Version: 0.1.4
Tags: tan,light,two-columns,fixed-width,custom-background,custom-header,featured-images,sticky-post,threaded-comments,translation-ready
License: GNU General Public License v2
License URI:http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html { 
	height: 110%;
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
	display: block;
}
body { 
	line-height: 1;
}
ol, ul { 
	list-style: none;
}
blockquote, q { 
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after { 
	content: '';
	content: none;
}
table { 
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix { 
	clear:both;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Display */

#site-title { 
	font-family:FreeSans, Arial, sans-serif;
	font-size:26px;
	letter-spacing:-1px;
	line-height:32px;
	margin-bottom:10px;
	margin-top:21px;
	font-weight:normal;
	width:200px;
}
#site-title a:hover { 
	color:#bb0000;
}
#main .awedoor-post-title, div.awedoor-post-title {
	border:0;
	font-family:FreeSans, Arial, sans-serif;
	font-size:24px;
	line-height:32px;
	margin-right:20px;
	margin-bottom:15px;
	padding-bottom:7px;
	border-bottom:1px solid #eee;
}
#access .menu li { 
	list-style:url(static/widget_bullet.gif) inside;
}
#access .menu li.menu-item-parent { 
	list-style:url(static/widget_bullet_parent.gif) inside;
}
#access .menu li:hover { 
	list-style:url(static/widget_bullet_hover.gif) inside;
}
#access .menu li.menu-item-parent:hover { 
	list-style:url(static/widget_bullet_parent_hover.gif) inside;
}
#access .menu li { 
	font-family:FreeSans, Arial, sans-serif;
	letter-spacing:-1px;
}
#access .menu li.menu-item-parent { 
}
.awedoor-widget h4 { 
	color:#000;
	font-family:FreeSans, Arial, sans-serif;
	font-size:13px;
	line-height:21px;
	margin-bottom:15px;
	text-transform:uppercase;
}
#site-title img { 
	margin-top:5px;
}
#site-title a { 
	color:#000;
	text-decoration:none;
}
div.awedoor-post-date, 
.awedoor-post-title span { 
	color:#BB0000;
}
#site-description {
	width:230px;
	color:#A00;
	font-family:FreeSans, Arial, sans-serif;
	font-size:13px;
	font-weight:normal;
	margin-top:5px; 
	text-transform:uppercase;
}


/* Menu */

#branding { 
	float:left;
	margin-left:21px;
	margin-right:0;
	width:219px;
}

#main-search { 
	margin-top:15px;
	width:180px;
}

#access .menu-more span { 
	background-color:#eaeadb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#777;
	font-size:12px;
	padding:2px 5px;
	position:relative;
	left:-5px;
	text-decoration:none;
	cursor:pointer;
}

#access .menu-more span:hover { 
	background-color:#d8d8ca;
	text-decoration:none;
}

input#searchsubmit { 
	padding:7px 8px;
}

label.screen-reader-text { 
	display:block;
	float:none;
}
input#s {
	background: url(static/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-width:1px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 2px 10px 4px 28px;
}
#main-search input[type="text"] { 
	width:100%;
}
#links { 
	font-family:FreeSans, Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	line-height:20px;
	margin-left:15px;
	text-transform:normal;
}

#links a { 
	color:#000;
	text-decoration:none;
}

#links a:hover { 
	color:#000;
	text-decoration:underline;
}

#links ul { 
	list-style:none;
	margin-left:0;
	padding-left:0;
}

#links { 
	list-style:none;
	margin-left:0;
	padding-left:0;
}

#links ul li { 
	padding-left:15px;
}

.network-sites-title { 
	color:#A00;
	font-family:FreeSans, Arial, sans-serif;
	font-size:13px;
	font-weight:normal;
	text-transform:uppercase;
}

#access { 
	font-size:18px;
	line-height:24px;
	margin-bottom:20px;
	margin-top:10px;
}

#access .menu-viewall a { 
	color:green;
}

#access a { 
	color:#000;
	text-decoration:none;
}

#access a:hover { 
	color:#bb0000;
	text-decoration:none;
}

#access .sub-menu li { 
	font-family:FreeSans, Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	letter-spacing:0px;
	line-height:20px;
	margin-left:15px;
	text-transform:normal;
}

#access .sub-menu ul { 
	margin-left:15px;
}

#access .sub-menu a:hover { 
	color:#bb0000;
	text-decoration:none;	
}

#access .sub-menu li.current-cat > a { 
	color:#bb0000;
}

#access li ul.sub-menu, #access li ul.children { 
	display:none;
}

#access li.current-cat > ul, 
#access li.current-menu-item > ul, 
#access li.current-menu-ancestor > ul,
#access li.current-menu-parent > ul, 
#access li.current-cat-parent > ul { 
	display:block;
}



/* Body */

#page { 
	/*background-image:url('static/base12grid_gutter.png');*/
	background-color:#ffe;
	font-family:FreeSans, Arial, sans-serif;
	font-size:16px;
	line-height:20px;
	margin:0 auto;
	width:980px;
}
#main {
	display:block;
	overflow:hidden;
	float:left;
	line-height:1.4em;
	margin-bottom:40px;
	padding-left:21px;
	margin-right:0;
	margin-top:20px;
	width:718px;
}
.main p { 
	margin:0 0 15px 0;
}
.main a, #footer a { 
	color:#000;
	text-decoration:underline;
}
.main a:visited { 
	color:#222;
	text-decoration:underline;
}
.main a:hover, 
#footer a:hover { 
	color:#d00;
	text-decoration:underline;
}
.aligncenter { 
	clear: both;
	display: block;
	margin-bottom:15px;
	margin-left: auto;
	margin-right: auto;	
	margin-top:15px;
}
.alignright { 
	float:right;
	margin-bottom:15px;
	margin-left:15px;
	margin-top:15px;
}
.alignleft { 
	float:left;
	margin-bottom:15px;
	margin-right:15px;
	margin-top:15px;
}
.alignnone { 
	display:block;
}
.wp-caption-text, .gallery-caption { 
	font-size:12px;
	line-height:15px;
}
img.size-full,
img.size-large {
	height: auto;
	max-width: 99.5%;
}
.awedoor-post-body-nav { 
	margin-top:40px;
	font-size:12px;
	width:657px;
}
.awedoor-post-body-nav h4 { 
	font-size:13px;
	line-height:21px;
	margin-bottom:15px;
	text-transform:uppercase;
}
.awedoor-post-body-nav-next {
	padding:5px 10px 20px 10px; 
	background-color:#FFFBCA;
	width:280px;
	float:left;
}
.awedoor-post-body input[type="text"], .awedoor-post-body input[type="password"] { 
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border-width:1px;
	background-color:#FFFFEE;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 2px 10px 4px 10px;
}
.awedoor-post-body input[type="submit"] { 
	padding: 7px 8px;
}
.awedoor-post-body-nav-prev { 
	padding:5px 10px 20px 10px; 
	background-color:#FFFBCA;
	margin-right:20px;
	width:280px;
	float:left;
}
.awedoor-post-attachment-nav { 
	float:left;
	width:319px;
}
.awedoor-post-attachment-nav h3 { 
	width:300px;
}
.awedoor-post-attachment { 
	width:697px;
}
.awedoor-post-attachment img { 
	margin:0 auto;
}
.awedoor-post-attachment-next, .awedoor-post-attachment-prev { 
	float:left;
	width:138px;
	margin-right:21px;
}
.awedoor-post-attachment-imagesizes { 
	float:left;
	width:379px;
	margin-right:20px;
}
.awedoor-post-nav a { 
	font-size:12px;
	text-decoration:none;
}
.awedoor-post-author { 
	margin-bottom:15px;
}
.awedoor-post-body { 
	clear:both;
	margin-right:20px;
	padding-bottom:20px;
}
.awedoor-post-bodyfull { 
	width:718px;
}
.awedoor-post-body small { 
	font-size:12px;
}
.awedoor-post-body { 
	clear:both;
}
.awedoor-post-body blockquote { 
	background-color:#fffbca;
	margin-bottom:15px;
	margin-left:20px;
	padding-bottom:7px;
	padding:15px 20px 10px 20px;
}
.awedoor-post-body blockquote cite { 
	font-size:14px;
	font-weight:normal;
	margin-left:25px;
	margin-top:15px;
	padding-bottom:15px;
}
.awedoor-post-body blockquote cite a { 
	text-decoration:none;
	color:#bb0000;
}
.awedoor-post-body blockquote cite:before { 
	content:" — ";
}
.awedoor-post-body a img { 
	border:1px solid #fff;
}
.awedoor-post-body a:hover img { 
	border:1px solid #555;
}
.awedoor-post-body table { 
	empty-cells:hide;
	font-size:14px;
	margin-bottom:15px;
	width:100%;
}
.awedoor-post-body td { 
	background-color:#fffbca;
	border:2px solid #fff;
	padding:10px;
}
.awedoor-post-body ul, 
.awedoor-post-body ol {
	margin: 0 0 1.625em 2.5em;
}
.awedoor-post-body ul {
	list-style: square;
}
.awedoor-post-body ol {
	list-style-type: decimal;
}
.awedoor-post-body ol ol {
	list-style: upper-alpha;
}
.awedoor-post-body ol ol ol {
	list-style: lower-roman;
}
.awedoor-post-body ol ol ol ol {
	list-style: lower-alpha;
}
.awedoor-post-body ul ul, 
.awedoor-post-body ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
.awedoor-post-body pre {
	background-color:#fffbca;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
.awedoor-post-body code, 
.awedoor-post-body kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.awedoor-post-body abbr, 
.awedoor-post-body acronym, 
.awedoor-post-body dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.awedoor-post-body address {
	display: block;
	margin: 0 0 1.625em;
}
.awedoor-post-body ins {
	background: #fff9c0;
	text-decoration: none;
}
.awedoor-post-body sup,
.awedoor-post-body sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
.awedoor-post-body sup {
	bottom: 1ex;
}
.awedoor-post-body sub {
	top: .5ex;
}
.awedoor-post-body dl {
	margin: 0 20px;
}
.awedoor-post-body dt {
	font-weight: bold;
}
.awedoor-post-body dd {
	margin-bottom: 15px;
}
.awedoor-post-body dl.gallery-item {
	margin: 0;
}
.awedoor-post-body dt {
	font-weight: bold;
}
.awedoor-post-body dd {
	margin-bottom: 15px;
}
.awedoor-post-body table th { 
	background-color:#fffbca;
	border:2px solid #fff;
	font-size:18px;
	padding:10px;
	text-align:left;
}
.awedoor-post-body h1 { 
	font-size:28px;
	margin-bottom:40px;
	padding-bottom:10px;
}
.awedoor-post-body h2 { 
	font-size:21px;
	margin-bottom:30px;
	padding-bottom:8px;
}
.awedoor-post-body h3 { 
	font-size:18px;
	margin-bottom:26px;
	padding-bottom:7px;
}
.awedoor-post-body h4 { 
	font-size:15px;
	margin-bottom:20px;
	padding-bottom:6px;
}
.awedoor-post-body h5 { 
	font-size:12px;
	margin-bottom:20px;
	padding-bottom:3px;
}
.awedoor-post-body h6 { 
	font-size:12px;
	margin-bottom:20px;
	padding-bottom:2px;
}
.awedoor-post-body h1, 
.awedoor-post-body h2, 
.awedoor-post-body h3,
.awedoor-post-body h4,
.awedoor-post-body h5,
.awedoor-post-body h6 {	
	border-bottom:1px solid #eee;
	clear:both;
}

/* Widgets */

#widgets { 
	color:#2c261f;
	font-size:13px;
	margin-bottom:50px;
	margin-left:21px;
	margin-top:15px;
	position:relative;
	width:100%;
}
#widgets a { 
	color:#2c261f;
}
#widgets a:hover { 
	color:#bb0000;
}
.awedoor-widget li { 
	list-style:url(static/widget_bullet.gif) inside;
}
.awedoor-widget li:hover { 
	list-style:url(static/widget_bullet_hover.gif) inside;
}
.awedoor-widget li a { 
	color:#2c261f;
	text-decoration:none;
}
.awedoor-widget #s { 
	width:160px;
	margin-top:5px;
	margin-bottom:5px;
}
#calendar_wrap { 
	width:100%;
}
#wp-calendar caption { 
	color:#2c261f;
}
#wp-calendar thead { 
	text-align:center;
	width: 100%;
}
#wp-calendar tbody a { 
	color:#dd0000;
}
#wp-calendar tbody a:hover { 
	color:#000;
}
#wp-calendar #next { 
	text-align:right;
}
#wp-calendar caption { 
	color:#dd0000;
	margin-bottom:10px;
}
#wp-calendar tbody td { 
	border-top: 1px solid #c5a888;
	empty-cells: hide !important;
	padding: 5px 5px 5px 0;
	text-align:center;
	vertical-align: top;
	width:18px;
}
#wp-calendar thead th { 
	padding-right: 10px;
	text-align: center;
}
#wp-calendar { 
	empty-cells:hide;
	width:100%;
}
.awedoor-widget a:hover { 
	color:#dd0000;
}
.awedoor-widget ul li ul { 
	margin-left:15px;
}
.awedoor-widget { 
	background-color:#fffbca;
	float:left;
	margin-bottom:15px;
	margin-right:19px;
	padding:4px 10px 30px 10px;
	width:200px;
}


/* Footer Typography */

#footer { 
	clear:both;
	margin:20px 0 20px 261px;
	text-align:left;
}
.awedoor-colophon {
	color:#444;
	font-size:12px;
	margin-top:5px; 
	padding-bottom:50px;
}


/* Archives */

h2.awedoor-post-summary-title { 
	font-size:21px;
	line-height:28px;
	margin-bottom:15px;
}
.awedoor-post-summary.sticky { 
	position:relative;
	background-color:#fffbca;
	padding:10px;
	width:677px;
}
.awedoor-post-summary { 
	clear:both;
	margin-bottom:15px;
	margin-right:20px;
	overflow:hidden;
}
.awedoor-post-summary-taxonomy > a, 
.awedoor-post-taxonomy > a {  
	color:#777;
	text-decoration:none;
}
a.awedoor-post-summary-comments, 
a.awedoor-post-comments {  
	color:#777;
	text-decoration:none;
}
a.awedoor-post-summary-comments:visited, 
a.awedoor-post-comments:visited {  
	color:#777;
	text-decoration:none;
}
a.awedoor-post-summary-comments:hover, 
a.awedoor-post-comments:hover {  
	color:#bb0000;
}
.awedoor-post-summary-taxonomy > a:visited, 
.awedoor-post-taxonomy > a:visited {  
	color:#777;
	text-decoration:none;
}
.awedoor-post-summary-meta, 
.awedoor-post-meta {
	clear:both;
	color:#777;
	font-size:12px;
	padding:4px 0;
}
a > .awedoor-post-summary-thumbnail { 
	border:1px solid #fff;
}
a:hover > .awedoor-post-summary-thumbnail{ 
	border:1px solid #555;
}
.awedoor-post-summary-thumbnail { 
	float:left;
	margin-bottom:15px;
	margin-right:15px;
}
a > .awedoor-post-summary-gallery-thumbnail { 
	border:1px solid #fff;
}
a:hover > .awedoor-post-summary-gallery-thumbnail{ 
	border:1px solid #555;
}
.awedoor-post-summary-gallery-thumbnail {
	float:left;
	margin-right:20px;
	margin-bottom:17px;
}
.awedoor-post-summary-date { 
	color:#dd0000;
}
.awedoor-post-summary-thumbnail-video { 
	float:left;
	width:138px;
	height:78px;
	overflow:hidden;
	margin-bottom:15px;
	margin-right:15px;
}
.more-link-wrapper { 
	clear:both;
	margin-bottom:8px;
}
.more-link-wrapper a:hover { 
	background-color:#d8d8ca;
	color:#777;
	text-decoration:none;
}
.more-link-wrapper a { 
	background-color:#eaeadb;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	color:#777;
	font-size:12px;
	padding:3px 5px;
	text-decoration:none;
}
.sticky .more-link-wrapper a, 
.awedoor-post-body-nav .more-link-wrapper a {  
	background-color:#F0E6BE;
}
.sticky .more-link-wrapper a:hover,
.awedoor-post-body-nav .more-link-wrapper a:hover {  
	background-color:#e3d9b4;
}
.more-link-wrapper a:visited { 
	color:#777;
}
.page-content-readmore { 
	border-top:1px solid #888;
	margin-top:5px;
	text-align:center;
	width:697px;
}
.page-content-readmore > span { 
	-moz-border-bottom-left-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	color:#777;
	font-size:12px;
	margin-top:0;
	background-color:#eaeadb;
	padding:5px 5px 5px 5px;
}
.page-content-readmore > span:hover { 
	background-color:#d8d8ca;
}
.awedoor-post-categories-wrapper { 
	float:left;
	margin-right:10px;
}
.awedoor-post-categories { 
	display:inline;
	margin-left:0;
	width:400px;
	height:400px;	
}
.awedoor-post-categories li { 
	display:inline-block;
	list-style:none;
	margin-left:0;
	margin-right:5px;
	padding-left:0;
}
#awedoor-loading { 
	background-color:#eee;
	color:#666;
	margin-top:15px;
	text-align:center;
	width:100%;
}
#pagination { 
	width:100%;
}
.nav-previous { 
	float:left;
	margin-right:20px;
}
.nav-next { 
	float:left;
}


/* Comments */

#comments {
	background-color:#fffbca;
	border: 5px dashed #bb0000;
	clear:both; 
	margin-top:12px;
	padding-top:10px;
	width:688px;
}

.singular #comments-title {
	margin: 0 auto;
	width: 68.9%;
}
.one-column.singular #comments-title {
	width: 100%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
	margin-left: 102px;
	width: auto;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
	margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-body {
	margin-right: 85px;
}
.one-column .commentlist .avatar {
	background: transparent;
	display: block;
	left: auto;
	padding: 0;
	right: 1.625em;
	top: 1.625em;
}
.one-column .commentlist .children .avatar {
	background: none;
	padding: 0;
	position: absolute;
	top: 2.2em;
	left: 2.2em;
}

.comment-body h1,
.comment-body h2,
.comment-body h3,
.comment-body h4,
.comment-body h5,
.comment-body h6 { 
	border-bottom:1px solid #b3b08e;
}

.comment-body h1 { 
	font-size:28px;
	padding-bottom:10px;
	margin-bottom:40px;

}
.comment-body h2 {
	font-size:21px;
	padding-bottom:8px;
	margin-bottom:30px;
}

.comment-body h3 {
	font-size: 18px;
	padding-bottom:7px;
	margin-bottom:26px;
}
.comment-body h4 { 
	font-size: 15px;
	margin-bottom:20px;
	padding-bottom:6px;
}
.comment-body h5 { 
	font-size: 12px;
	margin-bottom:18px;
	padding-bottom:3px;
}
.comment-body h6 { 
	font-size: 12px;
	margin-bottom:16px;
	padding-bottom:2px;
}
.comment-body ul,
.comment-body ol {
	margin-bottom: 1.625em;
}
.comment-body ul ul,
.comment-body ol ol,
.comment-body ul ol,
.comment-body ol ul {
	margin-bottom: 0;
}
.comment-body img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
/* Comments link */
.entry-header .comments-link a {
	background: #eee url(images/comment-bubble.png) no-repeat;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 1.5em;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 43px;
	height: 36px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	background-color: #1982d1;
	color: #fff;
	color: rgba(255,255,255,0.8);
}
.entry-header .comments-link .leave-reply {
	visibility: hidden;
}

#comments-title {
	clear:both;
	line-height: 2.6em;
	padding: 0;
}
.nopassword,
.nocomments {
	float:left;
	font-size:12px;
	color:#777;
	text-align: left;
}
.commentlist {
	list-style: none;
	margin: 0;
	margin-top:8px;
	margin-left:22px;
	width: 639px;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	margin: 0 0 1.625em;
	position: relative;
}
.commentlist .pingback {
	background-color:#f0e6be;
	-moz-border-radius:10px;	
	-webkit-border-radius:10px;
	border-radius:10px;
	margin: 0 0 1.625em;
	padding: 7px 20px 0px 10px;
}
.commentlist .pingback p {
	padding-bottom: 7px;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	position: relative;
}
a.comment-date { 
	color:#BB0000;
}
a.comment-date:visited { 
	color:#BB0000;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	margin-bottom:10px;
}
.commentlist .children li.comment { 
	margin-left: 20px;
}
.commentlist .children li.comment .comment-meta {
}
.commentlist .children li.comment .comment-body {
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	right: 0;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	right: 0;
	padding: 0;
	top: 0;
}
a.comment-reply-link,
a.comment-edit-link {
	background-color:#f0e6be;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active,
a.comment-edit-link:hover,
a.comment-edit-link:focus,
a.comment-edit-link:active {
	background: #e3d9b4;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #FFFBCA;
	margin-top: 15px;
	padding: 1.625em;
	position: relative;
	width: 643px;
}
#respond input[type="text"],
#respond textarea {
	font-family:FreeSans,Arial,sans-serif;
	font-size:16px;
	color:#555;
	background: #fff;
	background-color:#fffcd8;
	border-width: 1px;
	position: relative;
	padding: 5px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	min-width: 60px;
	position: relative;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	color:#000;
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	margin: 0;
}
#respond input#submit {
	font-size:16px;
	font-family:FreeSans,Arial,sans-serif;
	background: #bb0000;
	border: none;
	color: #eee;
	cursor: pointer;
	margin: 18px 0;
	padding: 5px 10px 5px 10px;
}
#respond input#submit:active {
	background: #02a600;
	color: #fff;
}
#respond #cancel-comment-reply-link {
	background-color:#f0e6be;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 1px 8px;
	line-height:21px;
	position:relative;
	bottom:2px;
	right:0;
	text-decoration: none;
	margin-left: 10px;
}
#respond #cancel-comment-reply-link:hover {
	background-color:#e3d9b4;
	text-decoration:none !important;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.comment > .reply { 
	font-size:12px;
	text-align:left;
}
.comment > .reply a { 
	color:#81796f;
	text-decoration:none;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	border-bottom: 1px solid #B3B08E;
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;

}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	width: 75%;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}

.comment-body pre {
	background-color:#fff;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
.comment-body code, 
.comment-body kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.comment-body abbr, 
.comment-body acronym, 
.comment-body dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.comment-body address {
	display: block;
	margin: 0 0 1.625em;
}
.comment-body ins {
	background: #fff;
	text-decoration: none;
}
.comment-body sup,
.comment-body sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
.comment-body sup {
	bottom: 1ex;
}
.comment-body sub {
	top: .5ex;
}
.comment-body dl {
	margin: 0 20px;
}
.comment-body dt {
	font-weight: bold;
}
.comment-body dd {
	margin-bottom: 15px;
}
.comment-body dl.gallery-item {
	margin: 0;
}
.comment-body dt {
	font-weight: bold;
}
.comment-body dd {
	margin-bottom: 15px;
}
.comment-body table { 
	empty-cells:hide;
	font-size:14px;
	margin-bottom:15px;
	width:100%;
}
.comment-body td { 
	background-color:#fff;
	border:2px solid #fffbca;
	padding:10px;
}
.comment-body table th { 
	background-color:#fff;
	border:2px solid #fffbca;
	font-size:18px;
	padding:10px;
	text-align:left;
}
.comment-body ul, 
.comment-body ol {
	margin: 0 0 1.625em 2.5em;
}
.comment-body ul {
	list-style: square;
}
.comment-body ol {
	list-style-type: decimal;
}
.comment-body ol ol {
	list-style: upper-alpha;
}
.comment-body ol ol ol {
	list-style: lower-roman;
}
.comment-body ol ol ol ol {
	list-style: lower-alpha;
}
.comment-body ul ul, 
.comment-body ol ol, ul ol, ol ul {
	margin-bottom: 0;
}