#browser-message { 
	height:50px;
	margin-bottom:15px;
	padding-top:7px;
	padding-right:7px;
	padding-left:40px;
	background-color:yellow;
	background-image:url('static/browser_protest.png');
	background-repeat:no-repeat;
	background-position:4px 6px;
}

.navigation { 
	margin-top:5px;
	float:right;
}

#navigation-back { 
	cursor:pointer;
}

#navigation-next { 
	cursor:pointer;
}

.video-thumbnail { 
	font-size:12px;
	line-height:14px;
	width:219px;
	margin-right:20px;
	height:200px;
	float:left;
}

.video-thumbnail a { 
	text-decoration:none;
}

.video-thumbnail a:hover { 
	text-decoration:underline;
}

.video-license { 
	float:left;
	font-size:12px;
	line-height:30px;
}

.video-license a { 
	text-decoration:none;
}

.video-license-icons { 
	top:2px;
	position:relative;
}

.video-license-icons:hover .cc-by-icon { 
	background-position:-17px 0;
}

.video-license-icons:hover .cc-nc-icon { 
	background-position:-17px -80px;
}

.video-license-icons:hover .cc-nd-icon { 
	background-position:-17px -40px;
}

.video-license-icons:hover .cc-sa-icon { 
	background-position:-17px -120px;
}

.cc-by-icon { 
	background-image:url('cc-by-small.png');
	background-repeat:no-repeat;
	border:0;
	width:14px;
	height:14px;
}
.cc-nc-icon { 
	background-image:url('cc-by-small.png');
	background-repeat:no-repeat;
	border:0;
	width:14px;
	height:14px;
	background-position:0 -80px;
}
.cc-nd-icon { 
	background-image:url('cc-by-small.png');
	background-repeat:no-repeat;
	border:0;
	width:14px;
	height:14px;
	background-position:0 -40px;
}
.cc-sa-icon { 
	background-image:url('cc-by-small.png');
	background-repeat:no-repeat;
	border:0;
	width:14px;
	height:14px;
	background-position:0 -120px;
}

.awedoor-post-body.video-body { 
	clear:both;
	height:55px;
	overflow:hidden;
}

.awedoor-post-body.video-body.opened { 
	height: auto;
	overflow:hidden;
}

.video-body-readmore { 
	width:697px;
	border-top:1px solid #888;
	margin-top:5px;
	text-align:center;
}

.video-body-readmore > span { 
	-moz-border-bottom-left-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
	border-bottom-right-radius:7px;
	color:#777;
	font-size:12px;
	margin-top:0;
	background-color:#eaeadb;
	padding:5px 5px 5px 5px;
}
.video-body-readmore > span:hover { 
	background-color:#d8d8ca;
}

